log/*.log
db/*.sqlite3
tmp/**/*
db/schema.rb
**/*.DS_Store
.DS_Store
**/**/*.DS_Store
Capfile
config/deploy.rb
config/database.yml
tmp/restart.txt
public/images/Thumbs.db
public/Thumbs.db
public/images/logo/Thumbs.db
.bundle
