.post
  %h2.title
    Parsed URL Method
  %p.meta
    A complement to Internal Affair's comprehensive guide.
  .entry
    %p
      Are you still having trouble moving your nation after reading all the guides? This tool will help you.
    %p
      = link_to "Parsed URL Method", parsed_url_method_starguards_path

